.pet-details-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding-top: 24px;
  color: #3a3533;
  font-size: 18px;
  line-height: 1.4;
  text-align: left;

  .separator {
    height: 1px;
    background-color: #c9c5b9;
    margin: 16px 0;
  }

  .title {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;

    .icon {
      font-size: 30px;
    }
  }
}

@media (max-width: 768px) {
  .pet-details-container {
    padding-top: 8px;
    font-size: 16px;

    .title {
      gap: 10px;
      font-size: 20px;

      .icon {
        font-size: 24px;
      }
    }
  }
}
