ul {
  list-style-type: none;

  li {
    color: #b0aead;
    font-size: 60px;
    line-height: 1;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    transition:
      color 0.2s ease,
      font-size 0.2s ease,
      transform 0.2s ease;

    &:hover {
      color: var(--primary);
      font-size: 80px;
    }
  }
}
